.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
  padding-bottom: 30px;
}
.form_container {
  background-color: #61dafb;
  display: flex;
  justify-self: center;
  align-items: center;
}

.wrap {
  background-color: white;
  display: flex;
  flex-flow: column;
}
form {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 0%;
  margin-bottom: 50px;
}

.form_group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 50px;
}

label {
  display: inline-block;
  width: 150px;
}

button {
  display: flex;
  width: 20em;
  height: 3em;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
/* 
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;

} */

.tweet {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightsteelblue;
  width: 500px;
  margin: 10px auto;
  padding-bottom: 10px;
}
.user_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tweetcontent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.tweetlike {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.tweetsubmit {
  border-color: black;
}