.App {
  background: linear-gradient(45deg, #8e44ad, #3498db);
  font-family: 'Helvetica Neue', sans-serif;
  color: #fff;
  height: 100vh;
  z-index: 0;
}
.app {
  background: linear-gradient(45deg, #8e44ad, #3498db);
  font-family: 'Helvetica Neue', sans-serif;
  color: #fff;
  height: 120vh;
  z-index: 0;
}

header {
  font-size: 24px;      /* 見出しのフォントサイズを大きく */
  color: #333;          /* 色をダークグレーに変更 */
}
/* 
.app_profile {
  overflow: auto;

} */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* @import "~@fortawesome/fontawesome-free/css/all.css"; */



/* styles.css */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.background {
  background: rgba(255, 255, 255, 0.1); /* 半透明の背景 */
  border: 1px solid rgba(255, 255, 255, 0.5); /* 薄いボーダー */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* やわらかいシャドウ */
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
  padding-bottom: 30px;
}
/* .form_container {
  background-color: #61dafb;
  display: flex;
  justify-self: center;
  align-items: center;
} */

.wrap {
  background-color: white;
  display: flex;
  flex-flow: column;
}
form {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 0%;
  margin-bottom: 50px;
}
/* 
.form_group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  height: 50px;
} */

label {
  display: inline-block;
  width: 150px;
}

/* button {
  display: flex;
  width: 100px;
  height: 3em;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
} */
/* 
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
} */
.login_title {
  font-size: 24px;      /* 見出しのフォントサイズを大きく */
  /* text-align: center;    中央揃え */
  margin-bottom: 20px;   /* 下のマージンを追加 */
  color: #333;          /* 色をダークグレーに変更 */
}

.login {
  display: flex;
  flex-direction: column;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_block {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.form_block label {
  margin-right: 100px;
  display: inline;
  white-space: nowrap;
}

.submit-button {
  width: 100%;           /* ボタンを幅いっぱいに */
  padding: 10px;        /* パディングを追加 */
  background: #27ae60; /* 明るい緑色に変更 */
  color: #fff;          /* ボタンの文字色 */
  border: none;         /* ボーダーなし */
  border-radius: 5px;   /* 角を丸くする */
  cursor: pointer;      /* カーソルをポインターに */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* ボタンに影を付ける */
  transition: background 0.3s; /* ホバー時のアニメーション */
}

button {
  width: 100%;        /* ボタンを幅いっぱいに */
  padding: 10px;        /* パディングを追加 */
  background: #27ae60; /* 明るい緑色に変更 */
  color: #fff;          /* ボタンの文字色 */
  border: none;         /* ボーダーなし */
  border-radius: 5px;   /* 角を丸くする */
  cursor: pointer;      /* カーソルをポインターに */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* ボタンに影を付ける */
  transition: background 0.3s; /* ホバー時のアニメーション */
}

.submit-button:hover {
  background: linear-gradient(45deg, #7a3e9d, #2980b9); /* ホバー時のグラデーション */
}


 .customLink {
  color: inherit;
  text-decoration: none;
 }

.tweet {
  border: 2px solid #000000;
  display: flex;
  flex-direction: row;
  /* align-items: flex-start; */
  /* justify-content: ;  */
  border-color: lightsteelblue;
  width: 90%;
  /* margin: auto; */
  margin-top: 10px;
  margin-bottom: 10px;
}
/* .tweet_user {
  display: flex;
  justify-content: start;
  margin-right: auto;
} */

.tweet_all {
  margin-left: 10px;
  width: 100%;
}

.tweet_user {
  margin-right: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.twitter_profile {
  color: inherit;
  text-decoration: none;
}

.user div {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  /* background-color: #61dafb; */
}

.user_fig {
  margin-right: 0;
  margin-left: 0;
  /* background-color: #282c34; */
}

.user_prof {
  display: flex;
  flex-direction: row;
}

/* .tweet_user div {
  margin-right: 30px;
  display: flex;
  justify-content: center;
} */
.retweet_state {
  margin-left: 10px;
}

.tweetdate {
  margin: auto;
}
.user_container {
  position: absolute;
  left: 30%;
  top: 10%;
  height: 100vh;
  width: 50%;
  /* background-color: transparent; */
  overflow: auto;
}

.user_container_pro {
  height: 100vh;
  /* background-color: transparent; */
  overflow: auto;
}

/* .scroll {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  padding: 19px;
} */ 

.tweetcontent {
  width: 90%;
  height: auto;
  border:2px solid lightsteelblue;
  display: flex;
}

/* .tweet_like {
  display: flex;
  flex-direction: column;
  background-color: aqua;
} */

.tweet_like {
  /* padding: 8px, 24px; */
  margin: 0px, 0px;
  line-height: 1;
  font-size: 16px;
  height: 50px;
  border: none;
  color: inherit;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.like_icon {
  margin-top: 9px;
}
.like_number {
  margin-top: 3px;
}
.tweetoption {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  margin-right: auto;
}

.tweetoption div {
  display: flex;
  /* justify-content: center; */
  margin-right: 30px;
}

.tweetreply {
  margin-top: 10px;
}

.code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.code div {
  margin-bottom: 5px;
}

.tweetretweet {
  margin-top: 10px;
}



.retweet {
  margin-left: 10px;
  background-color: rgba(255, 255, 255, 0.9); /* 半透明の白 */
  border: 1px solid rgba(255, 255, 255, 0.5); /* 薄いボーダー */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* やわらかいシャドウ */
  padding: 16px;
  border-radius: 8px; /* 角を丸める */
  margin: 20px 0; /* 上下のマージンを設定 */
  color: #333; /* テキストの色をダークに設定 */
  width: 70%;
  display: flex;
  flex-direction: row;
}
.black {
  color: #333;
}


.tweetsubmit {
  border-color: black;
}

.user_profile {
  position: fixed;
  left: 5%;
  top: 10%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.user_profile div {
  margin-right: 5px;
}

.app-name {
  color: inherit;
  text-decoration: none;
  position: fixed;
  left: 5%;
  top: 0%;
  display: flex;
  flex-direction: column;
}

.view_page {
  color: inherit;
  text-decoration: none;
  position: fixed;
  left: 5%;
  top: 30%;
  display: flex;
  flex-direction: column;
}
.post_page {
  color: inherit;
  text-decoration: none;
  position: fixed;
  left: 5%;
  top: 40%;
  display: flex;
  flex-direction: column;
}

.search_page {
  color: inherit;
  text-decoration: none;
  position: fixed;
  left: 5%;
  top: 50%;
}

.profile_page {
  color: inherit;
  text-decoration: none;
  position: fixed;
  left: 5%;
  top: 60%;
}

.register_page {
  color: inherit;
  text-decoration: none;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  border: 2px solid white;
  width: 100%;
}

.site {
  position: absolute;
  left: 20%;
  top: 10%;
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.origin {
  position: sticky;
}

.rep {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
}

.user_container_ori {
  width: 90%;
  /* background-color: transparent; */
  margin-bottom: 20px;
}

.user_container_rep {
  width: 90%;
  height: 100vh;
  /* background-color: transparent; */
  overflow: auto;
}
.profile {
  position: absolute;
  left: 30%;
  top: 10%;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center; 
  overflow: visible;
}

.profileheader {
  position: sticky;
  display: flex;
  flex-direction: column;
}

.profileheader div {
  margin-bottom: 10px;
}
.profilename {
  display: flex;
  flex-direction: row;
}
.profilefollow {
  display: flex;
  flex-direction: row;
}

.profilefollow div {
  margin-right: 5px;
}

.followrequest {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.profilecontent {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  /* overflow: auto; */
  /* flex-grow: 1; */
  padding: 19px;
  height: 50%;
  overflow: hidden;
}

.post {
  margin-top: 5%;
  position: absolute;
  left: 20%;
  height: 70vh;
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  background: rgba(255, 255, 255, 0.1); /* 半透明の背景 */
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.post_retweet {
  margin-top: 5%;
  position: absolute;
  left: 20%;
  height: 80vh;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  background: rgba(255, 255, 255, 0.1); /* 半透明の背景 */
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  overflow: auto;
}
.post_code {
  display: flex;
  flex-direction: row;
}

.tweet_title {
  font-size: 24px;      /* 見出しのフォントサイズを大きく */
  /* text-align: center;    中央揃え */
  margin-bottom: 50px;   /* 下のマージンを追加 */
  color: #333; 
  text-align: center;
}

.retweet_title {
  font-size: 24px;      /* 見出しのフォントサイズを大きく */
  /* text-align: center;    中央揃え */
  margin-bottom: 20px;   /* 下のマージンを追加 */
  color: #333; 
  text-align: center;
}

.tweet_post {
  /* width: 100%; */
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.tweet_submit {
  display: flex;
  flex-direction: row;
}
.tweet_post label {
  margin-right: 30px;
  display: inline;
  white-space: nowrap;
}

.tweet_post textarea {
  margin-right: 30px;
}


.tweet_post div {
  padding-bottom: 10px;
}



.search_word {
  margin-top: 50px;
  padding-bottom: 30px;
  width: 50%;
  height: 3vh;
}


.icon {
  transform: scaleX(-1) rotate(90deg);
}